body {
    width: 800px;
    margin: 0 auto;
}

header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: green;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
    align-items: center;
}

#portrait {
    grid-column: 1/2;
    padding: 20px;
}

#myName {
    grid-column: 2/3;
    padding: 20px;
    color: moccasin;
    text-align:center;
    font-size: 2em;
}

footer {
    padding: 10px;
    color: moccasin;
    background-color: green;
    border-radius: 1em;
    align-items: center;
    text-align: center;
}
